body {
    background: white url("image/background2.png") no-repeat;
    background-position: bottom center ;
    background-size : 15%;
    height: 500px;
    border-top: 10px solid #ccc;
}

li a {
    color: blue;
}